.container {
  width: 100%;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 6px;
  z-index: 0;
  margin-top: 75px;
}

.pageContainer {
  padding-top: 100px;
  max-height: 570px;
  min-height: 570px;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.searchPokemonFormContainer {
  padding-top: 100px;
  width: 85%;
  margin: auto;
  margin-top: -100px;
  padding-bottom: 0px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 350px;
  background-color: #E3F8FD;
  z-index: 9;
}

.searchPokemonFormContainer form {
  display: flex;
  gap: 5px;
}

.searchPokemonError {
  margin-top: 10px;
  height: 20px;

}

.searchPokemonFormContainer form input[type=text] {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #88D3F5;
  width: 70%;
  letter-spacing: 1.5px;
  max-width: 200px;
}

.searchPokemonFormContainer form input[type=submit] {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: #88D3F5;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
  color: white;
  cursor: pointer;
  transition: all .1s ease-in;
}

.searchPokemonFormContainer form input[type=submit]:hover {
  transform: scale(1.1);
}

.searchPokemonFormContainer form button {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: #88D3F5;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
  color: white;
  cursor: pointer;
  transition: all .1s ease-in;
}

.searchPokemonFormContainer form button:hover {
  transform: scale(1.1);
}


@media (max-width: 425px) {

  .pageContainer {
    height: 75vh;
    max-height: 80vh;
    padding-top: 0px;
  }

  .searchPokemonFormContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40px;
    width: 100%;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .container {
    margin-top: 60px;
  }

  .searchPokemonFormContainer form{
    width: 330px;
  }

}
