.statsBarColorGreen {
	background-color: #58FAAC;
}

.statsBarColorYellow {
	background-color: #F4FA58;
}

.statsBarColorOrange {
	background-color: #FAAC58;
}

.statsBarColorRed {
	background-color: #FA5858;
}
